@model SmartParkingWeb.Core.Models.StateViewModel

@{
    ViewBag.Title = "Report";
}

@section Styles {
    <link href="~/Content/app/statistics.css" rel="stylesheet" />
}

<div class="container">
    <div class="col-md-3">
        <span class="col-md-12 date-label">Date from:</span>
        <div class='col-md-12'>
            <div class="form-group">
                <div class='input-group date' id='dateFrom'>
                    <input type='text' class="form-control datepicker-text" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span class="col-md-12 date-label">Date to:</span>
        <div class='col-md-12'>
            <div class="form-group">
                <div class='input-group date' id='dateTo'>
                    <input type='text' class="form-control datepicker-text" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox col-md-12 statistic-padding">
            <label><input type="checkbox" id="cbShowAll">Show reports for all time</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 statistic-padding">
            <input type="button" value="Show Report" class="btn btn-info" id="btnStatistics" />
        </div>
    </div>
</div>

<div class="col-md-12 chart" id="multiple_chart"></div>
<div class="col-md-12 chart" id="historical_chart"></div>
<div class="col-md-12 chart" id="histogram_chart"></div>


@section scripts {
    <script src="~/Scripts/app/statistics.js"></script>
}




